<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
</head>
<body>
    <nav>
        <li> <a href="{% url 'home'%}">Home</a></li>
        <li> <a href="{% url 'list_books' %}"> About Us </a></li>
        <li> <a href="#">Contact Us </a></li>
    </nav>
    <h1>Books Available:</h1>
    <ul>
        {% for book in books %}
        <li>{{ book.title }} by {{ book.author.name }}</li>
        {% empty %}
        <li>No books available.</li>
        {% endfor %}
    </ul>
</body>
</html>
